---
---

@import "{{ site.theme }}";
.page-header {
color: #fff;
text-align: right;
background-color: #b19d62;
background-image: url('../images/codeklavier image.png');
background-position: -32px -107px;
}
